/* declaring global variable  */
:root{
    --discord-gray:#19191b;
    --bs-white-text:#fff;
}

/* main body setting */
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--discord-gray) !important;
}
/* container settings */
.container{
    margin-top: 10vh!important;
    background-color: var(--discord-gray);
    color:var(--bs-white-text);
}
/* row settings */
.row {
    padding-left: 10vw;
    padding-right: 10vw;
}
.scoreboard-link{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    white-space: nowrap;
}
a{
    color: var(--bs-white-text) !important;
    text-decoration: none !important;
}
a:hover{
    color:purple !important;
}
#time-counter{
    color:#fff;

}
.q-title{
    font-weight: 400;
}
.answer{
    background-color: #5135ca;
    color:var(--bs-white-text);
}
.ans{
    list-style-type:none;
}
.row *{
    margin-bottom: 2.5%;
}
